src/main/java/cn/com/evo/integration/scyd/content/webservice/notify/CSPResponse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://112.18.251.71:8090/mams/services/CSPResponse" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://112.18.251.71:8090/mams/services/CSPResponse" xmlns:intf="http://112.18.251.71:8090/mams/services/CSPResponse" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="iptv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="iptv" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="CSPResult">
    <sequence>
     <element name="errorDescription" nillable="true" type="xsd:string"/>
     <element name="result" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ResultNotifyResponse">

      <wsdl:part name="ResultNotifyReturn" type="tns1:CSPResult"/>

   </wsdl:message>

   <wsdl:message name="ResultNotifyRequest">

      <wsdl:part name="CSPID" type="xsd:string"/>

      <wsdl:part name="LSPID" type="xsd:string"/>

      <wsdl:part name="CorrelateID" type="xsd:string"/>

      <wsdl:part name="CmdResult" type="xsd:int"/>

      <wsdl:part name="ResultFileURL" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="CSPResponse">

      <wsdl:operation name="ResultNotify" parameterOrder="CSPID LSPID CorrelateID CmdResult ResultFileURL">

         <wsdl:input message="impl:ResultNotifyRequest" name="ResultNotifyRequest"/>

         <wsdl:output message="impl:ResultNotifyResponse" name="ResultNotifyResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CSPResponseSoapBinding" type="impl:CSPResponse">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ResultNotify">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ResultNotifyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.webapp.mams.ally.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ResultNotifyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://112.18.251.71:8090/mams/services/CSPResponse" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CSPResponseService">

      <wsdl:port binding="impl:CSPResponseSoapBinding" name="CSPResponse">

         <wsdlsoap:address location="http://112.18.251.71:8090/mams/services/CSPResponse"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
